<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>1</ADDirectoryAccessLevel>
    <ADDomain>organisationx.onmicrosoft.com</ADDomain>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://giftstore.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-db3-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>giftstore</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$giftstore</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:in5hkjal8k.database.windows.net,1433;Initial Catalog=giftstore-data-db;User ID=ogasa6@in5hkjal8k;Password=PASSword?" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="webapp1.Models.DataContext, webapp1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:in5hkjal8k.database.windows.net,1433;Initial Catalog=giftstore-user-db;User ID=ogasa6@in5hkjal8k;Password=PASSword?" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="webapp1.Models.TenantDbContext, webapp1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://organisationx.onmicrosoft.com/WebApp-giftstore.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>7c883058-ab19-4a33-82af-e00bf7c88763</ADClientAPPID>
    <ADClientPassword>CRhhkYFNzYtw7O+azCiwFnzOMDsSk+PFMbKjNFZBg7s=</ADClientPassword>
    <ADReplyUrl>https://giftstore.azurewebsites.net/</ADReplyUrl>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:in5hkjal8k.database.windows.net,1433;Initial Catalog=giftstore-data-db;User ID=ogasa6@in5hkjal8k;Password=PASSword?</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:in5hkjal8k.database.windows.net,1433;Initial Catalog=giftstore-user-db;User ID=ogasa6@in5hkjal8k;Password=PASSword?</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>